/*SKU Rahmen auf single product page*/
#sot-single-product-top .sku {
    padding: 0px 10px;
    border: 1px solid #ccc;  /* Graue Rahmenfarbe */
    display: inline-block;
    cursor: pointer;
    transition: border-color 0.3s;  /* Übergangseffekt auf die Rahmenfarbe anwenden */
    border-radius: 5px;  /* Leicht gerundete Ecken */
}

#sot-single-product-top .sku:hover {
    border-color: #333;  /* Rahmenfarbe wird beim Hovern schwarz */
    background-color: #f5f5f5; /* Hintergrundfarbe beim Hovern */
}



/*Info Tabelle von Produkt ohne Rahmen*/
.product-meta-table {
    border-collapse: collapse;
    width: 100%;
}

.product-meta-table th,
.product-meta-table td {
    border: none;
    text-align: left;
    text-transform: none;
    font-weight: normal;
    vertical-align: top;
    margin: 0;
    padding: 0 20px 0 0;
}
