/*
  Single product page formating
*/



/*Wechsel von wide auf mobile bildschirme v.a. für main content*/

#sot-single-product-top {
      display: flex;
      flex-wrap: nowrap;
}


#sot-single-product-top .woocommerce-product-gallery {
      flex-basis: 60%;
      /* 66% Breite */
}

#sot-single-product-top .entry-summary {
      flex-basis: 40%;
      padding: 15px;
      /* 33% Breite */
}

.wc-tabs-wrapper {
      width: 60%;
}



/* Mobil-Ansicht bei max-width: 800px */

@media only screen and (max-width: 800px) {
      #sot-single-product-top {
            flex-wrap: wrap;
            /* erlaube das Umbrechen */
      }

     #sot-single-product-top .woocommerce-product-gallery,
     #sot-single-product-top .entry-summary {
            flex-basis: 100%;
            /* beide nehmen die volle Breite ein */
      }

      .product-hgrid #sidebar-primary {
            display: none;
      }

      .wc-tabs-wrapper, #wpshopofthingstools-specifications-wrapper, .show-more {
            width: 100%;
      }
}


/*******************************************/
/*------ TEST ------*/
/*******************************************/
/* Desktop-Standard */
.entry.product.type-product #sot-single-product-top {
    display: flex;
    justify-content: space-between;
}

.entry.product.type-product .woocommerce-product-gallery {
    flex-basis: 70%;
    margin-right: 2%;
}

.entry.product.type-product .entry-summary {
    flex-basis: 30%;
    order: 1;  /* Die Reihenfolge verschieben, damit es rechts angezeigt wird */
    min-height: 1000px;
}

.entry.product.type-product .wc-tabs-wrapper {
    width: 68%; /* Die gewünschte Breite */
    margin-top: calc(-250px); /* Nutzen Sie calc(), um es abhängig von der Breite der .woocommerce-product-gallery zu machen */
}

/* Mobile-Ansicht für Geräte mit einer Breite von 800px oder weniger */
@media screen and (max-width: 800px) {
    .entry.product.type-product #sot-single-product-top {
        display: flex;
        flex-direction: column;
    }

    .entry.product.type-product .wc-tabs-wrapper {
        order: 1; /* Zwischen den beiden divs */
        margin-top: 0;
        width: 100%;
    }

    .entry.product.type-product .woocommerce-product-gallery {
        order: 0; /* Das erste Element */
        flex-basis: 100%;
        margin-right: 0; /* Entfernt den Rand für die mobile Ansicht */
    }

    .entry.product.type-product .entry-summary {
        order: 2; /* Das letzte Element */
        flex-basis: 100%;
        min-height: auto;
    }
}

.woocommerce div.product div.images .flex-control-thumbs li {
    width: 14%;
}

.woocommerce div.product div.images .flex-viewport {
      max-height: 500px;
}

.woocommerce div.product .woocommerce-product-gallery--columns-4 .flex-control-thumbs li:nth-child(4n+1) {
    clear: none;
}
.woocommerce div.product .woocommerce-product-gallery--columns-4 .flex-control-thumbs li:nth-child(7n+1) {
    clear: left;
}


/*******************************************/
/*----- END TEST -------*/
/*******************************************/



/* Media Query für Bildschirmbreiten von 700px und darunter */
@media only screen and (max-width: 769px) {
    .product-hgrid #content {
        flex-basis: 100% !important; /* Nimmt die volle Breite des Containers ein */
    }
}




/* Allgemeiner Stil für spezielle Zeilen */
.special-row {
    line-height: 4em;
    border-bottom: 1px solid gray;
    border-top: 1px solid gray;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
}

.special-row > *:not(:last-child) {
    margin-right: 10px; /* Abstand zwischen den Icons, anpassen nach Bedarf */
}

/* Stil für das Icon-Container div */
.icon-container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-end; /* ändern Sie dies zu 'flex-end' um die Icons von rechts nach links auszurichten */
    padding: 10px 0px;
}

/* Ein optionaler Stil, um den Abstand zwischen den Icons (a-Elementen innerhalb des icon-containers) zu setzen */
.icon-container a {
    margin-left: 10px; /* Setzen Sie den Abstand nach Ihrem Geschmack */
}



